html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-family:inherit; font-size:100%; vertical-align:baseline;}
body{line-height:1; color:#000; background:#fff;}
ol, ul{list-style:none;}
table{border-collapse:separate; border-spacing:0; vertical-align:middle;}
caption, th, td{text-align:left; font-weight:normal; vertical-align:middle;}
a img{border:none;}
svg#hat{height:30vw; max-height:30vh; max-width:30vh; width:30vw;}
svg#hat .star{-webkit-transform:rotate(0deg); transform:rotate(0deg); -webkit-transform-origin:center; transform-origin:center; transform-box:fill-box;}
svg#hat .p1, svg#hat .p2, svg#hat .p3, svg#hat .p4, svg#hat .p5, svg#hat .wand{-webkit-animation-duration:400ms; animation-duration:400ms; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; -webkit-animation-name:fade-in; animation-name:fade-in; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0);}
svg#hat .p1{-webkit-animation-delay:100ms; animation-delay:100ms; fill:url("#g2");}
svg#hat .p2{-webkit-animation-delay:200ms; animation-delay:200ms; fill:url("#g2");}
svg#hat .p3{-webkit-animation-delay:300ms; animation-delay:300ms; fill:url("#g3");}
svg#hat .p4{-webkit-animation-delay:400ms; animation-delay:400ms; fill:url("#g4");}
svg#hat .p5{-webkit-animation-delay:500ms; animation-delay:500ms; fill:url("#g5");}
svg#hat .wand{-webkit-animation-delay:600ms; animation-delay:600ms;}
svg#hat .star, svg#hat .wand{fill:#fefefe;}
svg#hat stop[offset="0"]{stop-color:#4527a0;}
svg#hat stop[offset="1"]{stop-color:#8f7dc6;}
.animated svg#hat .star{-webkit-animation-delay:0ms; animation-delay:0ms; -webkit-animation-duration:500ms; animation-duration:500ms; -webkit-animation-iteration-count:1; animation-iteration-count:1; -webkit-animation-name:spin; animation-name:spin; -webkit-animation-timing-function:linear; animation-timing-function:linear;}
*{-webkit-box-sizing:border-box; box-sizing:border-box;}
body{color:#4527a0; font-family:'Segoe UI', 'Lucida Grande', Ubuntu, Arial, sans-serif; font-size:15px; line-height:1.2;}
h1, h2{margin:0 0 1em;}
h1{font-size:1.5em;}
h2{font-size:1.2em;}
h3{font-size:1.3em; margin:1em 0 0.5em;}
img{max-height:100%; max-width:100%;}
.main{line-height:1.2; margin:0 auto; width:90%; padding-bottom:5em;}
.main .section{padding:1em 0; text-align:center;}
.main .section.full{padding:10vh 0; min-height:100vh;}
.main .section.animated{-webkit-animation-delay:300ms; animation-delay:300ms; -webkit-animation-duration:400ms; animation-duration:400ms; -webkit-animation-name:fade-out; animation-name:fade-out; -webkit-animation-timing-function:linear; animation-timing-function:linear;}
.main .section h1, .main .section h2 span{-webkit-animation-name:fade-in; animation-name:fade-in; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0);}
.main .section .branding h1{-webkit-animation-delay:800ms; animation-delay:800ms; margin:0.5em 0li;}
.main .section .branding h2{margin:0 0 1em;}
.main .section .branding h2 span{-webkit-animation-delay:1.1s; animation-delay:1.1s;}
.main .section .branding h2 span:first-child{-webkit-animation-delay:1s; animation-delay:1s;}
.main .section .branding h2 span:last-child{-webkit-animation-delay:1.2s; animation-delay:1.2s;}
.main .section ul.nav li{-webkit-animation-name:fade-in; animation-name:fade-in; font-size:1.2em; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0);}
.main .section ul.nav li:first-child{-webkit-animation-delay:1.3s; animation-delay:1.3s;}
.main .section ul.nav li:nth-child(2){-webkit-animation-delay:1.4s; animation-delay:1.4s;}
.main .section ul.nav li:nth-child(3){-webkit-animation-delay:1.5s; animation-delay:1.5s;}
.main .section ul.nav li:nth-child(4){-webkit-animation-delay:1.6s; animation-delay:1.6s;}
.main .section ul.nav li:nth-child(5){-webkit-animation-delay:1.7s; animation-delay:1.7s;}
.main .section ul.nav li:nth-child(6){-webkit-animation-delay:1.8s; animation-delay:1.8s;}
a{color:#4527a0; text-decoration:none;}
a:hover{text-decoration:underline;}
ul.nav li{display:block;}
.impressum{font-size:0.8em;}
.footer{background-color:#4527a0; bottom:0; color:#fefefe; font-size:0.8em; left:0; padding:0.5em; position:fixed; text-align:center; top:auto; width:100%;}
.footer a{color:#fefefe;}
.footer a :hover{text-decoration:underline;}
.footer ul.social-links{float:right;}
.footer ul.social-links li{float:left;}
.block{margin:2em 0;}
@media (min-width:600px){main section{font-size:2vw; }}
@media (min-width:700px){body{font-size:2vw; }}
.anim{-webkit-animation-duration:0.7s; animation-duration:0.7s; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; -webkit-animation-iteration-count:1; animation-iteration-count:1; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out;}
@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg); transform:rotate(360deg); }}
@keyframes spin{100%{-webkit-transform:rotate(360deg); transform:rotate(360deg); }}
@-webkit-keyframes fade-in{from{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); } to{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; }}
@keyframes fade-in{from{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); } to{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; }}
@-webkit-keyframes fade-out{from{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; } to{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); }}
@keyframes fade-out{from{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; } to{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); }}
/*# sourceMappingURL=stylus.css.map */