html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-family:inherit; font-size:100%; vertical-align:baseline;}
body{line-height:1; color:#000; background:#fff;}
ol, ul{list-style:none;}
table{border-collapse:separate; border-spacing:0; vertical-align:middle;}
caption, th, td{text-align:left; font-weight:normal; vertical-align:middle;}
a img{border:none;}
svg#hat{width:60%;}
svg#hat .star{-webkit-transform:rotate(0deg); transform:rotate(0deg); -webkit-transform-origin:center; transform-origin:center; transform-box:fill-box;}
svg#hat .p1, svg#hat .p2, svg#hat .p3, svg#hat .p4, svg#hat .p5, svg#hat .wand{-webkit-animation-duration:400ms; animation-duration:400ms; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; -webkit-animation-name:fade-in; animation-name:fade-in; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0);}
svg#hat .p1{-webkit-animation-delay:100ms; animation-delay:100ms; fill:url("#g2");}
svg#hat .p2{-webkit-animation-delay:200ms; animation-delay:200ms; fill:url("#g2");}
svg#hat .p3{-webkit-animation-delay:300ms; animation-delay:300ms; fill:url("#g3");}
svg#hat .p4{-webkit-animation-delay:400ms; animation-delay:400ms; fill:url("#g4");}
svg#hat .p5{-webkit-animation-delay:500ms; animation-delay:500ms; fill:url("#g5");}
svg#hat .wand{-webkit-animation-delay:600ms; animation-delay:600ms;}
svg#hat .star, svg#hat .wand{fill:#fefefe;}
svg#hat stop[offset="0"]{stop-color:#4527a0;}
svg#hat stop[offset="1"]{stop-color:#8f7dc6;}
.animated svg#hat .star{-webkit-animation-delay:0ms; animation-delay:0ms; -webkit-animation-duration:500ms; animation-duration:500ms; -webkit-animation-iteration-count:1; animation-iteration-count:1; -webkit-animation-name:spin; animation-name:spin; -webkit-animation-timing-function:linear; animation-timing-function:linear;}
*{-webkit-box-sizing:border-box; box-sizing:border-box;}
body{color:#4527a0; font-family:'Ubuntu Condensed', 'Segoe UI', roboto, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:15px; line-height:1.2; max-width:1200px; margin:0 auto;}
h1, h2{margin:0 0 0.5em;}
h1{font-size:1.2em; font-weight:600;}
h2{font-size:1.1em;}
img{max-height:100%; max-width:100%;}
.main{line-height:1.2; padding-bottom:5em;}
.animated{-webkit-animation-delay:300ms; animation-delay:300ms; -webkit-animation-duration:400ms; animation-duration:400ms; -webkit-animation-name:fade-out; animation-name:fade-out; -webkit-animation-timing-function:linear; animation-timing-function:linear;}
#hero h1, #hero h2 span{-webkit-animation-name:fade-in; animation-name:fade-in; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0);}
#hero h1{-webkit-animation-delay:800ms; animation-delay:800ms; margin:0.5em 0li;}
#hero h2{margin:0 0 1em;}
#hero h2 span{-webkit-animation-delay:1.1s; animation-delay:1.1s;}
#hero h2 span:first-child{-webkit-animation-delay:1s; animation-delay:1s;}
#hero h2 span:last-child{-webkit-animation-delay:1.2s; animation-delay:1.2s;}
a{color:#4527a0; text-decoration:none;}
a:hover{text-decoration:underline;}
a.button{background-color:#4527a0; color:#fefefe; display:inline-block; padding:0.5em;}
p{margin:1em 0;}
.annotated p{margin:0;}
ul.nav li{display:block;}
.projects{margin:2em 0;}
.projects .project{background-color:#9c9788; border:1px solid #4527a0; margin:1em 0; width:100%;}
.projects .project img{width:100%;}
.projects .project .description{padding:1em;}
.impressum{font-size:0.8em;}
.footer{background-color:#4527a0; bottom:0; color:#fefefe; font-size:0.8em; left:0; padding:0.5em; position:fixed; text-align:center; top:auto; width:100%;}
.footer a{color:#fefefe;}
.footer a :hover{text-decoration:underline;}
.footer ul.social-links{float:right;}
.footer ul.social-links li{float:left;}
.block{margin:2em 0;}
.hex{display:block; margin:0 auto; position:relative; min-height:250px; min-width:250px; max-width:500px; max-height:500px; width:90vw; height:90vw;}
.hex .hex__svg{position:absolute; width:100%; height:100%;}
.hex .hex__content{position:relative; text-align:center; width:60%; height:60%; top:20%; left:20%;}
.hex .hex__content.annotated{color:#9c9788;}
.hex .hex__content.annotated p{margin:0.5em 0;}
.hex .hex__content.annotated h2{margin:1em 0; font-weight:600;}
.hex .hex__content .add{display:none;}
@media (min-width:600px){main section{font-size:2vw; }}
@media (min-width:700px){body{font-size:18px; }}
@media (min-width:800px){.projects{display:inline-block; } .projects .project{float:left; width:31%; margin:0 1%; }}
.anim{-webkit-animation-duration:0.7s; animation-duration:0.7s; -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards; -webkit-animation-iteration-count:1; animation-iteration-count:1; -webkit-animation-timing-function:ease-out; animation-timing-function:ease-out;}
@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg); transform:rotate(360deg); }}
@keyframes spin{100%{-webkit-transform:rotate(360deg); transform:rotate(360deg); }}
@-webkit-keyframes fade-in{from{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); } to{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; }}
@keyframes fade-in{from{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); } to{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; }}
@-webkit-keyframes fade-out{from{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; } to{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); }}
@keyframes fade-out{from{opacity:1; -ms-filter:none; -webkit-filter:none; filter:none; } to{opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); }}
/*# sourceMappingURL=stylus.css.map */