include /wnw-logo.svg

.branding
  h1.anim wizards @ work

  h2
    span.anim magically
    | &nbsp;
    span.anim shifting
    | &nbsp;
    span.anim paradigms

ul.nav
  li.anim
    a(href=`${WEB_ROOT}#about`) about
  li.anim
    a(href=`${WEB_ROOT}#contact`) contact
