*
  box-sizing border-box

body
  color $text-color
  font-family 'Ubuntu Condensed', 'Segoe UI', roboto, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 20px
  line-height 1.2
  max-width 1200px
  margin 0 auto

h1,
h2
  margin 0 0 0.5em

h1
  font-size 1.2em
  font-weight 600

h2
  font-size 1.1em

img
  max-height 100%
  max-width 100%

.main
  line-height 1.2
  padding-bottom 5em

.animated
  animation-delay 300ms
  animation-duration 400ms
  animation-name fade-out
  animation-timing-function linear

#hero
  h1,
  h2 span
    animation-name fade-in
    opacity 0
    
  h1
    animation-delay 800ms
    margin .5em 0li

  h2
    margin 0 0 1em

    span
      animation-delay 1.1s

      &:first-child
        animation-delay 1s
      &:last-child
        animation-delay 1.2s

a
  color $text-color
  text-decoration none

  &:hover
    text-decoration underline


  &.button
    background-color $text-color
    color $white
    display inline-block
    padding .5em

p
  margin 1em 0

.annotated p
  margin 0

ul.nav
  li
    display block

.projects 
  margin 2em 0 

  .project
    background-color $subtle-color
    border 1px solid $text-color
    margin 1em 0
    width 100%
  
    img 
      width 100%

    .description
      padding 1em

.impressum
  margin 0 auto
  width 80%
  min-width 250px

.footer
  background-color $text-color
  bottom 0
  color $white
  font-size .8em
  left 0
  padding .5em
  position fixed
  text-align center
  top auto
  width 100%

  a
    color $white

    &:hover
      text-decoration underline

.social
  text-align center
  position absolute
  top 1em
  right 1em
  left auto

  ul
    display inline-block

    li
      float left
      margin .5em .2em

  svg
    height 1.5em
    width 1.5em
    fill $less-subtle-color

// utilities
.block
  margin 2em 0

.hex 
  display block
  margin 0 auto
  position relative
  min-height 250px
  min-width 250px
  max-width 400px
  max-height 400px
  width 90vw
  height 90vw

  &.small
    text-align center
    min-width inherit
    min-height inherit
    width auto
    height auto

    .container
      display inline-block

    .hex__svg
      fill #444444
      stroke #444444
      width 3em
      height 3em
      position relative
      float left

    .hex__link
      float left
      line-height 3em
      
      span
        margin 0 0 0 .2em

  .hex__svg
    position absolute
    width 100%
    height 100%
    fill $white
    stroke $less-subtle-color
    stroke-width 1


  .hex__content
    position relative
    text-align center
    width 60%
    height 60%
    top 20%
    left 20%

    &.annotated 
      color $subtle-color

      p
        margin .2em 0
      h2
        margin 1em 0
        font-weight 600

@media (min-width: 700px)
  body
    font-size 18px

@media (min-width: 800px)
  body
    font-size 15px

  .main
    margin 5em auto 0
    width 800px
    position relative

  .add
    display none

  .hex
    position absolute
    width 300px
    height 300px
    max-width inherit
    max-height inherit

    &.hero
      left 50%
      margin 0 0 0 -150px

    &.evocell
      top 145px

    &.magicshifter
      top 145px
      right 0
      left auto

    &.about
      top 290px
      margin 0 0 0 -150px
      left 50%

    &.hexpaper
      position absolute
      top 480px
      right 75px

@media (min-width: 1100px)
  body
    font-size 17px

  .main
    margin 5em auto 0
    width 1100px

  .add
    display inline

  .hex
    width 400px
    height 400px

    &.hero
      margin 0 0 0 -200px

    &.evocell
      top 200px

    &.magicshifter
      top 200px

    &.about
      top 400px
      margin 0 0 0 -200px

    &.hexpaper
      top 666px
      right 120px