$white = #fefefe
$black = #010101

$text-color = #4527A0
$text-color-subtle = #5d46a2

$subtle-color = #9c9788
$less-subtle-color = #666666

$hex-color = $text-color

$link-color = $text-color
$link-hover-color = $text-color
