*
  box-sizing border-box

body
  color $text-color
  font-family 'Ubuntu Condensed', 'Segoe UI', roboto, 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 15px
  line-height 1.2
  max-width 1200px
  margin 0 auto

h1,
h2
  margin 0 0 0.5em

h1
  font-size 1.2em
  font-weight 600

h2
  font-size 1.1em

img
  max-height 100%
  max-width 100%

.main
  line-height 1.2
  padding-bottom 5em

.animated
  animation-delay 300ms
  animation-duration 400ms
  animation-name fade-out
  animation-timing-function linear

#hero
  h1,
  h2 span
    animation-name fade-in
    opacity 0
    
  h1
    animation-delay 800ms
    margin .5em 0li

  h2
    margin 0 0 1em

    span
      animation-delay 1.1s

      &:first-child
        animation-delay 1s
      &:last-child
        animation-delay 1.2s

a
  color $text-color
  text-decoration none

  &:hover
    text-decoration underline


  &.button
    background-color $text-color
    color $white
    display inline-block
    padding .5em

p
  margin 1em 0

.annotated p
  margin 0

ul.nav
  li
    display block

.projects 
  margin 2em 0 

  .project
    background-color $subtle-color
    border 1px solid $text-color
    margin 1em 0
    width 100%
  
    img 
      width 100%

    .description
      padding 1em

.impressum
  font-size .8em

.footer
  background-color $text-color
  bottom 0
  color $white
  font-size .8em
  left 0
  padding .5em
  position fixed
  text-align center
  top auto
  width 100%

  a
    color $white

    :hover
      text-decoration underline

  ul.social-links
    float right

    li
      float left

// utilities
.block
  margin 2em 0

.hex 
  display block
  margin 0 auto
  position relative
  min-height 250px
  min-width 250px
  max-width 500px
  max-height 500px
  width 90vw
  height 90vw

  .hex__svg
    position absolute
    width 100%
    height 100%

  .hex__content
    position relative
    text-align center
    width 60%
    height 60%
    top 20%
    left 20%

    &.annotated 
      color $subtle-color

      p
        margin .5em 0
      h2
        margin 1em 0
        font-weight 600

    .add
      display none
